@import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';

// .footer {
//   background-color: darken(#ffffff, 10%) !important;
// }

.footer {
     @include gradient-horizontal(#1834cc, #1dc937, 0%, 100%);
}

@media (max-width: 768px) {

  .btn {
      padding: 10px 16px;
      font-size: 17px;
      line-height: 1.3333333;
      border-radius: 3px;
  }

    [class*="col-"]{
        margin-bottom: 15px;
    }

}
