<!--

    You will need to change this file, to reflect one post with all
    of it's information displayed. For example, this.name would
    display the name of the post within the list.

-->

<template name="findOnePost">

    <div class="row">
        <div class="col-md-12">
            <h2>{{this.title}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                {{{this.body}}}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                {{this.price}}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <img src="{{this.image.url}}" class="img-responsive center-block"/>
        </div>
    </div>

    {{>payForItem}}

</template>
