<template name="reviewInFindList">

    <!-- This will be repeated inside of the find this -->
     {{> findOneReview }}


</template>


<template name="findReviews">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Reviews
            </h3>
        </div>
    </div>

    {{> insertReviewButton}}
    {{#if anyReviews}}
    <div class="row">
        <div class="col-md-12">
            <br>
            <div class="btn-group btn-group-justified">
                <a id="highest" class="btn btn-primary {{isDisabled 'highest'}}">Highest</a>
                <a id="lowest" class="btn btn-primary {{isDisabled 'lowest'}}">Lowest</a>
                <a id="newest" class="btn btn-primary {{isDisabled 'newest'}}">Newest</a>
            </div>
            <br>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    <!--{{> reviews }}-->
                </div>
            </div>
        </div>

        {{#if transactionMode}}
            Transaction mode is on
            <div class="row">
                <div class="col-md-6">
                    <h3>Seller</h3>
                    {{#with creatorReview}}
                        {{> findOneReview }}
                    {{/with}}
                </div>
                <div class="col-md-6">
                    <h3>Buyer</h3>
                    {{#with buyerReview}}
                        {{> findOneReview }}
                    {{/with}}

                </div>
            </div>
        {{/if}}

    {{/if}}




</template>

<template name="reviews">
    {{> pages}}
</template>

<template name="transactionModeReviews">

    <div class="row">
        <div class="col-md-12">
            <h3>
                Reviews
            </h3>
        </div>
    </div>

    <div class="row">

    </div>

</template>